.hero {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: max(var(--lg-spacer), 3vh) 0;
}

.hero__intro {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.hero__title {
    font-size: clamp(2rem, 5vw, 4.75rem);
}

.hero__intro, .hero__title {
    padding: calc(var(--base-spacer) / 2) var(--base-spacer);
}