@font-face {
  font-family: 'williamfolio-icons';
  src:
    url(/resources/fonts/williamfolio-icons/williamfolio-icons.ttf) format('truetype'),
    url(/resources/fonts/williamfolio-icons/williamfolio-icons.woff) format('woff'),
    url(/resources/fonts/williamfolio-icons/williamfolio-icons.svg) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wf-icon-"], [class*=" wf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'williamfolio-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wf-icon-application_icon:before {
  content: "\e916";
}
.wf-icon-database_icon:before {
  content: "\e915";
}
.wf-icon-framework_icon:before {
  content: "\e914";
}
.wf-icon-code_icon:before {
  content: "\e913";
}
.wf-icon-burger:before {
  content: "\e912";
}
.wf-icon-cross:before {
  content: "\e911";
}
.wf-icon-left_arrow:before {
  content: "\e910";
}
.wf-icon-down_arrow:before {
  content: "\e90f";
}
.wf-icon-right_arrow:before {
  content: "\e90e";
}
.wf-icon-up_arrow:before {
  content: "\e90d";
}
.wf-icon-globe:before {
  content: "\e90c";
}
.wf-icon-ntxproject:before {
  content: "\e90b";
}
.wf-icon-kairos:before {
  content: "\e90a";
}
.wf-icon-mercure:before {
  content: "\e909";
}
.wf-icon-easyleague:before {
  content: "\e908";
}
.wf-icon-williamfolio:before {
  content: "\e907";
}
.wf-icon-williamfolio_v2:before {
  content: "\e906";
}
.wf-icon-william_logo:before {
  content: "\e905";
}
.wf-icon-previous_arrow:before {
  content: "\e904";
}
.wf-icon-next_arrow:before {
  content: "\e903";
}
.wf-icon-window_layout:before {
  content: "\e902";
}
.wf-icon-double_arrow:before {
  content: "\e901";
}
.wf-icon-magnifying_glass:before {
  content: "\e900";
}
