.skeleton__nav-projects {
    display: flex;
    flex-direction: column;
    gap: var(--base-spacer);
    list-style: none;
    touch-action: none;
    position: relative;
}

.skeleton__nav-project {
    width: 135px;
    height: 20px;
    border-radius: 8px;
    margin: calc(var(--base-padding) / 2) 0;
}

.skeleton__thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: var(--base-padding);
}

.skeleton__animation {
    background: linear-gradient(90deg, var(--silver-2), var(--antiflash-white), var(--silver-2));
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}

.skeleton__animation--darker { 
    background: linear-gradient(90deg, var(--silver), var(--silver-2), var(--silver));
    background-size: 200%;
}

@media screen and (max-width: 768px) {
    .skeleton__nav-project {
        width: 35px;
    }

    .skeleton__thumbnail {
        aspect-ratio: 9/16;
    }
}

@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
