@property --expanded {
    syntax: '<number>';
	inherits: true;
	initial-value: 16;
}

@property --displayed {
    syntax: '<custom-ident>';
    inherits: true;
    initial-value: none;
}

@property --hidden {
    syntax: '<custom-ident>';
    inherits: true;
    initial-value: block;
}

:root {
    --elastic: linear(
        0 0%, 0.0012 14.95%, 0.0089 22.36%,
        0.0297 28.43%, 0.0668 33.43%,
        0.0979 36.08%, 0.1363 38.55%,
        0.2373 43.07%, 0.3675 47.01%,
        0.5984 52.15%, 0.7121 55.23%,
        0.8192 59.21%, 0.898 63.62%,
        0.9297 66.23%, 0.9546 69.06%,
        0.9733 72.17%, 0.9864 75.67%,
        0.9982 83.73%, 1 100%
    );
}

.navigation {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    top: 1.5rem;
    padding: clamp(0.5rem, 1vw, 0.75rem);
    border-radius: var(--xl-spacer);
    background-color: var(--night);
}

.navigation__visit {
    color: var(--white);
}

.navigation__content {
    display: flex;
    align-items: center;
    /* gap: var(--md-spacer); */
    gap: calc(1px * var(--expanded));
    margin: 0 clamp(var(--base-spacer) / 2, 1vw, var(--base-spacer));
    transition: gap 250ms var(--elastic);
}

.navigation__link {
    font-size: clamp(14px, 1vw, 16px);
    white-space: nowrap;
    text-decoration: none;
    color: var(--white);
}

.navigation__hero {
    font-size: clamp(1.25rem, 2vw, 2rem);
    text-align: center;
}

.navigation__visit {
    display: var(--hidden);
}

.navigation__sections {
    display: var(--displayed);
    gap: var(--base-spacer);
    list-style: none;
}

.navigation__options {
    display: flex;
    gap: var(--base-spacer);
}

.navigation__language {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    color: var(--white);
    border: none;
    background: none;
}

@supports(animation-timeline: scroll()) { 
    :root {
        timeline-scope: --home, --about-me, --project, --experiences, --contact;
    }

    #home { view-timeline-name: --home }

    .navigation {
        animation: expand both steps(1, end);
        animation-timeline: --home;
        animation-range: exit;
    }

    #about-me { view-timeline: --about-me }
    #project { view-timeline: --project }
    #experiences { view-timeline: --experiences }
    #contact { view-timeline: --contact }

    .navigation__section a {
        color: var(--active);
        transition: color 250ms ease-out;
    }
    
    .navigation__section:is(:hover, :focus-visible) a { 
        color: var(--white);
    }

    .navigation__section a {
        animation: activate both steps(1);
        transition: color 250ms ease-out;
    }

    .navigation__section:has([href="#about-me"]) a {
		animation-timeline: --about-me;
		animation-range: entry -100%;
	}

	.navigation__section:has([href="#project"]) a {
		animation-timeline: --project;
        animation-range: entry -100%;
	}

	.navigation__section:has([href="#experiences"]) a {
		animation-timeline: --experiences;
        animation-range: entry -100%;
	}

	.navigation__section:has([href="#contact"]) a {
		animation-timeline: --contact;
        animation-range: entry -100%;
	}

    @keyframes activate {
        from {
            color: var(--gray);
        }
		to {
            color: var(--white); 
        }
	}

    @keyframes expand { 
        to { 
            --expanded: 56;
            --displayed: flex;
            --hidden: none;
        } 
    }
}

@media (max-width: 1366px) { 
    /* .navigation {
        width: 50%;
    } */
}

@media screen and (max-width: 768px) {
    /* .navigation {
        width: 80%;
    } */

    .navigation__sections {
        display: none;
    }
}