@property --expanded {
    syntax: '<number>';
    inherits: true;
    initial-value: 24;
}

@property --displayed {
    syntax: '<custom-ident>';
    inherits: true;
    initial-value: none;
}

@property --hidden {
    syntax: '<custom-ident>';
    inherits: true;
    initial-value: flex;
}

@property --active {
    syntax: '<color>';
    inherits: true;
    initial-value: #7d7d7d;
}

:root {
    --elastic: linear(0 0%, 0.0012 14.95%, 0.0089 22.36%,
            0.0297 28.43%, 0.0668 33.43%,
            0.0979 36.08%, 0.1363 38.55%,
            0.2373 43.07%, 0.3675 47.01%,
            0.5984 52.15%, 0.7121 55.23%,
            0.8192 59.21%, 0.898 63.62%,
            0.9297 66.23%, 0.9546 69.06%,
            0.9733 72.17%, 0.9864 75.67%,
            0.9982 83.73%, 1 100%);
}

.navigation {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    top: 1.5rem;
    padding: clamp(0.5rem, 1vw, 0.75rem);
    border-radius: var(--xl-spacer);
    background-color: var(--night);
}

.navigation__visit {
    height: auto;
    display: var(--hidden);
    align-items: center;
    gap: var(--base-spacer);
    color: var(--white);
}

.navigation__visit-arrow {
    font-size: clamp(0.75rem, 1vw, 1.25rem);
    transition: rotate 250ms linear;
}

.navigation__content:is(:hover) .navigation__visit-arrow {
    rotate: 450deg;
}

.navigation__content {
    display: flex;
    align-items: center;
    gap: calc(1px * var(--expanded));
    margin: 0 clamp(var(--base-spacer) / 2, 1vw, var(--base-spacer));
    transition: all 250ms var(--elastic);
}

.navigation__link {
    font-size: clamp(14px, 1vw, 16px);
    white-space: nowrap;
    text-decoration: none;
    color: var(--white);
}

.navigation__hero {
    font-size: clamp(1.25rem, 2vw, 2rem);
    text-align: center;
}

.navigation__sections {
    display: var(--displayed);
    gap: var(--base-spacer);
    list-style: none;
}

.navigation__section .navigation__link {
    color: var(--active);
    transition: color 250ms ease-out;
}

.navigation__options {
    display: flex;
    gap: var(--base-spacer);
}

.navigation__language {
    display: var(--displayed);
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    color: var(--white);
    border: none;
    background: none;
}

@supports(animation-timeline: scroll()) {
    :root {
        timeline-scope: --home, --about-me, --project, --experiences, --contact;
    }

    #home {
        view-timeline-name: --home
    }

    .navigation {
        animation: expand both steps(1, end);
        animation-timeline: --home;
        animation-range: exit;
    }

    #about-me {
        view-timeline: --about-me
    }

    #project {
        view-timeline: --project
    }

    #experiences {
        view-timeline: --experiences
    }

    #contact {
        view-timeline: --contact
    }

    .navigation__section .navigation__link {
        color: var(--active);
        transition: color 250ms ease-out;
    }

    .navigation__section .navigation__link {
        animation: activate both steps(1);
        transition: color 250ms ease-out;
    }

    .navigation__section:has([href="#about-me"]) .navigation__link {
        animation-timeline: --about-me;
        animation-range: entry -100%;
    }

    .navigation__section:has([href="#project"]) .navigation__link {
        animation-timeline: --project;
        animation-range: entry -100%;
    }

    .navigation__section:has([href="#experiences"]) .navigation__link {
        animation-timeline: --experiences;
        animation-range: entry -100%;
    }

    .navigation__section:has([href="#contact"]) .navigation__link {
        animation-timeline: --contact;
        animation-range: entry -100%;
    }

    @keyframes activate {
        to {
            --active: #ffffff;
        }
    }

    @keyframes expand {
        to {
            --expanded: 64;
            --displayed: flex;
            --hidden: none;
        }
    }
}

@media (max-width: 1366px) {
    /* .navigation {
        width: 50%;
    } */
}

@media screen and (max-width: 768px) {
    /* .navigation {
        width: 80%;
    } */

    .navigation__sections {
        display: none;
    }
}